<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - POC Sistema de Controle de Doação de Sangue</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("POC SCDS", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Início", "Index", "Home")</li>
                    <li>@Html.ActionLink("Agendamento", "Index", "Agendamento")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - POC Sistema de Controle de Doação de Sangue</p>
        </footer>
    </div>

    <div id="divLoading" style="display:none; margin: 0px; padding: 0px; position: fixed; right: 0px;
    top: 0px; width: 100%; height: 100%; z-index: 30001;
    ">
        <p style="position: absolute; top: 30%; left: 45%; color: White;" id="">
            <img src="~/Content/ring-alt (1).svg" />
        </p>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    @Scripts.Render("~/bundles/jqueryval")

    @Scripts.Render("~/Scripts/preencherDropDownCascata.js")
    
    <script type="text/javascript">
        $(document).ajaxStart(function () {
            $("#divLoading").fadeIn();
        });

        $(document).ajaxStop(function () {
            $("#divLoading").fadeOut();
        });
    </script>

    @RenderSection("scripts", required: false)


</body>
</html>
